#CMS{
    text-align: center;
    
}

body{
    background-color: rgb(124, 182, 192);
}
button{
    background-color: black;
    color: aliceblue;
}

section{
    padding-left: 50px;
    padding-right: 1000px;

    


}