#HistoriaDeInternet{
    text-align: center;
}
#h4{
    padding-left: 50px;
    text-align: justify;
    padding-top: 50px;
}
#parrafo{
    text-align: justify;
    width: 50%;
    background-color: brown;
}
    
body{
    background-color: darkorange;
}
button{
    background-color: black;
    color: aliceblue;

}
section{
    padding-left: 50px;
    padding-right: 50px;
    display:flex;
    background-color: aqua;
}
img{
    height: 200px;
    padding-right: 50px;
}
#fotos{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}